@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: 'Museo Sans Light',sans-serif;
  font-weight: 300;
}

body img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
    width: 95%;
  }
}

.section-title {
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.section-subtitle {
  font-size: 20px;
  display: block;
  text-align: center;
}

.button {
  background-color: #FFD200;
  border: none;
  border-radius: 10px;
  padding: 14px 30px 17px 30px;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffea8a;
  cursor: pointer;
}

.input {
  padding: 20px 25px;
  border-radius: 10px;
  border: 1px #DDDDDD solid;
  margin-bottom: 30px;
  width: 240px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
}

.navbar__address {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  text-align: center;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

.navbar__phone {
  font-size: 20px;
  text-decoration: none;
  color: #333333;
  display: inline-block;
  margin-top: 10px;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 30px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background: #F5F5F5;
}

.hero-block {
  display: flex;
  align-items: center;
}

.hero-text {
  flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 1.4;
  margin-bottom: 50px;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
  margin-bottom: 70px;
}

.hero-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.hero-list__item {
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  margin-right: 30px;
}

.hero-image {
  max-width: 570px;
}

@media (max-width: 1200px) {
  .hero-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-text {
    padding-right: 10px;
  }
  .hero-text__title {
    max-width: 500px;
  }
  .hero-text__subtitle {
    max-width: 330px;
  }
  .hero-list {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    margin-bottom: 15px;
    font-size: 20px;
    max-width: 300px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 27px;
    max-width: 270px;
  }
  .hero-text__item {
    font-size: 12px;
  }
}

.offer {
  background: url("../img/offer/Clip.png") no-repeat;
  background-size: contain;
  background-position: center right;
  padding: 90px 0;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  margin-bottom: 30px;
  max-width: 360px;
  line-height: 35px;
}

.offer__subtitle {
  margin-bottom: 50px;
  display: inline-block;
  max-width: 280px;
}

.offer-form__input:first-child {
  margin-right: 10px;
}

.offer-form__button {
  width: 100%;
  margin-bottom: 30px;
}

.offer-info {
  display: flex;
  line-height: 24px;
  font-size: 15px;
}

.offer-info__1 {
  width: 240px;
  margin-right: 50px;
}

.offer-info__2 {
  width: 200px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-form__input {
    margin-bottom: 10px;
    width: 100%;
  }
  .offer-form__button {
    font-size: 13px;
  }
  .offer-info {
    display: flex;
    flex-direction: column;
  }
  .offer-info__1 {
    margin-bottom: 0;
    width: 100%;
  }
  .offer-info__2 {
    margin-bottom: 0;
    width: 100%;
  }
  .offer-info__phone {
    display: block;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
  }
  .offer__subtitle {
    font-size: 14px;
  }
  .offer-formbutton {
    padding: 0;
  }
}

.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  justify-content: center;
  display: none;
}

.modal_active {
  display: flex;
}

.modal-dialog {
  position: relative;
  max-width: 450px;
  min-width: 200px;
  width: 90%;
  margin: auto;
  padding: 40px;
  background-color: #fff;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.up {
  position: fixed;
  right: 50px;
  top: 100px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.5;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 6px;
  padding: 10px;
}

@media (max-width: 768px) {
  .up {
    display: none;
  }
}

.portfolio {
  background-color: #F5F5F5;
  padding: 100px 0;
}

.portfolio__title {
  max-width: 790px;
  margin: auto;
  margin-bottom: 100px;
}

.right-arrow:hover, .left-arrow:hover {
  cursor: pointer;
}

.slider {
  margin-bottom: 70px;
}

.slider__arrows {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: auto;
}

.slider__image {
  margin: auto;
}

.price {
  padding-top: 90px;
}

.price__title {
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
}

.price__subtitle {
  font-size: 20px;
  margin-bottom: 60px;
  display: block;
  text-align: center;
}

.card {
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
}

.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 40px 0 45px 0;
}

.card__title {
  margin-bottom: 30px;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 16px;
}

.card__link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FFD200;
  display: block;
}

.card__link:hover {
  background-color: white;
  bottom: 0;
  left: 0;
  background: #ffd200;
  background: linear-gradient(180deg, rgba(255, 210, 0, 0) 0%, rgba(255, 210, 0, 0.0424545) 39%, #ffd200 100%);
}

@media (max-width: 980px) {
  .card {
    align-items: center;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .price__title {
    font-size: 26px;
  }
  .price__subtitle {
    font-size: 16px;
  }
}

.steps {
  padding: 80px 0;
}

.steps__title {
  max-width: 660px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.steps__subtitle {
  margin-bottom: 55px;
}

.steps-item {
  flex-basis: 20%;
  text-align: center;
}

.steps-item__text {
  font-size: 14px;
}

.steps-item__between {
  width: 72px;
}

.steps-items {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .steps-item {
    width: 200px;
    margin-bottom: 25px;
    flex-basis: 50%;
  }
  .steps-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .steps-item__between {
    display: none;
  }
}

.cheap-info {
  background-color: #FFD200;
  padding: 80px 0;
}

.service {
  padding: 100px 0 70px 0;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services-item {
  background-color: #F5F5F5;
  background-size: cover;
  background-position: center bottom;
  height: 410px;
  width: 370px;
  border: 1px solid #e8e8e8;
}

.services-item1 {
  background: url("../img/service-image1.jpg") 100% 100% no-repeat;
}

.services-item2 {
  background: url("../img/service-image2.jpg") 100% 100% no-repeat;
}

.services-item3 {
  background: url("../img/service-image3.jpg") 100% 100% no-repeat;
}

.services-item__text {
  font-size: 16px;
  margin: 20px 25px 0 25px;
}

@media (max-width: 1200px) {
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-item {
    margin-bottom: 30px;
  }
}

.guarantee {
  padding: 70px 0 180px 0;
}

.guarantee-item {
  width: 310px;
}

.guarantee-item__image img {
  border: 20px solid #F5F5F5;
}

.guarantee-item__image {
  margin-bottom: 35px;
}

.guarantee-item__text {
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
}

.guarantee-items {
  display: flex;
  justify-content: space-between;
}

.guarantee__title {
  max-width: 650px;
  margin: auto;
  text-align: center;
  margin-bottom: 95px;
}

@media (max-width: 1200px) {
  .guarantee-item {
    margin-bottom: 40px;
  }
  .guarantee-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .guarantee-item__text {
    font-size: 14px;
  }
}

.brif {
  background: url("../img/bg-brif__interview.jpg"), url("../img/bg-brif__form.jpg");
  background-position: left center, center right;
  background-size: 50%,contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: flex;
}

.brif__interview {
  flex-basis: 50%;
  padding: 100px 100px 100px 0;
}

.brif__form {
  flex-basis: 50%;
  padding: 100px 0 90px 200px;
  align-items: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  width: 100%;
  max-width: 370px;
  display: block;
  height: 70px;
  margin-bottom: 30px;
}

.interview__title {
  max-width: 490px;
  font-size: 22px;
  margin-bottom: 45px;
}

.interview__subtitle {
  font-size: 16px;
  margin-bottom: 100px;
  display: inline-block;
}

.interview-list {
  list-style-type: none;
  padding: 0;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

.interview-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.interview-list__counter {
  border: 2px solid #333333;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  margin-right: 35px;
}

.interview-list__text {
  max-width: 400px;
}

.form__title {
  max-width: 490px;
  font-size: 22px;
  margin-bottom: 45px;
  text-align: center;
}

.form__subtitle {
  font-size: 16px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.form__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.form__text {
  text-align: center;
}

@media (max-width: 1200px) {
  .brif__interview {
    padding: 50px 30px 50px 0;
  }
  .brif__form {
    padding: 50px 0 50px 30px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    font-style: 16px;
    margin-bottom: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    font-style: 16px;
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 220px;
  }
  .interview-list__counter {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .brif {
    background: url("../img/bg-brif__interview.jpg"), url("../img/bg-brif__form.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%,cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    flex-direction: column;
  }
  .brif__form {
    margin: auto;
    padding: 50px 0 50px 0;
  }
  .brif__input {
    max-width: 520px;
  }
  .brif__button {
    max-width: 520px;
  }
  .interview__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    font-style: 14px;
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .form__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    font-style: 14px;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */