@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: 'Museo Sans Light',sans-serif;
  font-weight: 300;
}

body img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
    width: 95%;
  }
}

.button {
  background-color: #FFD200;
  border: none;
  border-radius: 10px;
  padding: 14px 30px 17px 30px;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffea8a;
  cursor: pointer;
}

.input {
  padding: 20px 25px;
  border-radius: 10px;
  border: 1px #DDDDDD solid;
  margin-bottom: 30px;
  width: 240px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
}

.navbar__address {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  text-align: center;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

.navbar__phone {
  font-size: 20px;
  text-decoration: none;
  color: #333333;
  display: inline-block;
  margin-top: 10px;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 30px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background: #F5F5F5;
}

.hero-block {
  display: flex;
  align-items: center;
}

.hero-text {
  flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 1.4;
  margin-bottom: 50px;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-family: 'Museo Sans Bold',sans-serif;
  font-weight: 700;
  margin-bottom: 70px;
}

.hero-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.hero-list__item {
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  margin-right: 30px;
}

.hero-image {
  max-width: 570px;
}

@media (max-width: 1200px) {
  .hero-block {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .hero-text {
    padding-right: 10px;
  }
  .hero-text__title {
    max-width: 500px;
  }
  .hero-text__subtitle {
    max-width: 330px;
  }
  .hero-list {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    margin-bottom: 15px;
    font-size: 20px;
    max-width: 300px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 27px;
    max-width: 270px;
  }
  .hero-text__item {
    font-size: 12px;
  }
}

.offer {
  background: url("../img/offer/Clip.png") no-repeat;
  background-size: contain;
  background-position: center right;
  padding: 90px 0;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  margin-bottom: 30px;
  max-width: 360px;
  line-height: 35px;
}

.offer__subtitle {
  margin-bottom: 50px;
  display: inline-block;
  max-width: 280px;
}

.offer-form__input:first-child {
  margin-right: 10px;
}

.offer-form__button {
  width: 100%;
  margin-bottom: 30px;
}

.offer-info {
  display: flex;
  line-height: 24px;
  font-size: 15px;
}

.offer-info__1 {
  width: 240px;
}

.offer-info__1:first-child {
  margin-right: 50px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-form__input {
    margin-bottom: 10px;
    width: 100%;
  }
  .offer-form__button {
    font-size: 13px;
  }
  .offer-info {
    display: flex;
    flex-direction: column;
  }
  .offer-info__1 {
    margin-bottom: 0;
    width: 100%;
  }
  .offer-info__phone {
    display: block;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
  }
  .offer__subtitle {
    font-size: 14px;
  }
  .offer-formbutton {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */